body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url("/static/images/bg2.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  margin-top: 30px;
}

.title {
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 1px;
}

.subtitle {
  font-family: Courier New;
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.container {
  padding: 40px;
  margin-top: 40px;
  border-radius: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08); /* make it slightly more visible */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari support */
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card h3 {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  background-color: #1C222B;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  width: 220px;
  font-size: 0.9rem;
}

input::placeholder {
  color: #C7D4E3;
}

.run-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
}

.run-btn:hover {
  background-color: #e0e0e0;
}

footer {
  margin-bottom: 30px;
}

footer p {
  padding: 8px 16px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.9rem;
}
