<html>

    <head>
        <title>
            Calculator
        </title>
    </head>

    <body bgcolor = 9ECFDA>

        <h1>
            Integral Calculator
        </h1>

        <h3>
            Find relief for your integral problems.
            
        </h3>

        <h2>
            Integration By Parts
        </h2>
        <form method = 'POST' action="/IntByParts">
            <input type = 'text' name = 'u' placeholder = "Enter u" required>
            <input type = 'text' name = 'dv' placeholder = "Enter dv" required>
            <button type = "submit"> Run </button>

        </form>

        <h2>
            Trignometric Substition
        </h2>
        <form method = 'POST' action = "/IntByTrig">

            <Input type = "text" name = "input_int_by_trig" placeholder = "sinx cosx" required>
            <button type = "submit"> Run </button>
        </form>

    </body>



</html>